@model List<SnippetModel>
@{
    ViewData["Title"] = "Listagem de Snippet";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Snippet" asp-action="Criar">Adicionar novo snippet</a>
    </div>
    <br />

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]    
         </div>
    }
    <br /> 
    <h1 class="display-4">Listagem de snippet</h1>

    <table class="table" id="table-snippet">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Categoria</th>
          <th scope="col">Conteúdo</th>
          <th scope="col">Tag</th>
          <th scope="col">Permissão</th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (SnippetModel snippet in Model)
                {
                    <tr>
                      <th scope="row">@snippet.Id</th>
                      <td>@snippet.Categorias</td>
                      <td>@snippet.Conteudo</td>
                      <td>@snippet.Tag</td>
                      <td>@(snippet.Permissao == DesafioDevOps.Enums.PermissaoEnum.Privado ? "Privado" : "Público")</td>
                       <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@snippet.Id" asp-controller="Snippet" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@snippet.Id" asp-controller="Snippet" asp-action="ApagarConfirmacao">Apagar</a>
                        </div>
                      </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum usuário encontrado</td></tr> 
            }
            
        </tbody>
    </table>
</div>
